.container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    height: 100%;
}
.imagePlus {
    border-radius: 50px;
    padding: var(--padding-1);
    background-color: var(--primary300);
}