.container {
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-2);
    
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    padding: var(--padding-1);
    background-color: var(--primary);
    border-radius: var(--border-radius-1);
    min-width: 300px;
}