.container {
    display: flex;
    gap: calc(var(--gap-1)/4);
    flex-wrap: wrap;
    width: var(--padding-2);
    animation: spin 2s linear infinite;
}
.peace {
    width: calc(50% - var(--gap-1)/4/2);
    aspect-ratio: 1;
    border-radius: 2px;
}
.peace1 {
    background-color: var(--primary300);
}
.peace2 {
    background-color: var(--red300);
}
.peace3 {
    background-color: var(--green300);
}
.peace4 {
    background-color: var(--yellow300);
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}